* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #edf1d6;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

/* set font and background color for the whole page */
body {
  font-family: Arial, sans-serif;
  color: #40513b;
  background-color: #edf1d6;
}

/* style the header */
header {
  background-color: #40513b;
  color: white;
  text-align: left;
  padding: 20px;
}

header .container{
  vertical-align: middle;
}

/* style the navigation bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color:  #edf1d6;
}

/* style the main content area */
main {
  padding: 20px;
  background-color: #edf1d6
}

/* style the articles of the main content area */
article {
  margin-bottom: 30px;
  background-color: #edf1d6
}

/* style the heading of a article */
article h3 {
  margin-bottom: 10px;

}

/* style the paragraph text of a article */
article p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* style landing page for centered content the size of the screen*/
#landing {
  align-items: center;
  display:flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#landing .container{
  display: flex;
  flex-direction: column;
}

#attrib {
  list-style-type: none;
  padding: 20px;
  font-size: large;
}
/* style the landing page profile image*/
#landing img {
  max-width: 50%;
  max-height: 50%;
}


