<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
  <link rel="icon" type="image/png" href="../static/img/favicon.png" />

  <!-- Title -->
  <title>Graham MacFarquhar</title>
  <meta name="keywords" content="gmacfarquhar, Graham Macfarquhar" />
  <meta name="description" content="Graham MacFarquhar | Full Stack Developer" />

  <!-- <link rel="stylesheet" href="../static/css/styles.css" /> -->
  <link rel="preload" as="style" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>

<body>
  <!-- Hero Section -->
  <div id="hero">
    <section class="container">
      <h1 class="hero-title">
        Hi, my name is <span class="text-color-main name">
          Graham MacFarquhar
        </span>
        <br />
        I'm a Full Stack Developer.
      </h1>
      <p class="hero-cta">
        <a class="cta-btn cta-btn--hero" href="#contact">Get in touch</a>
      </p>
    </section>
    <a href="#about" class="scroll-down-link" aria-label="scroll-down">
      <div class="scroll-down"></div>
    </a>
  </div>
  <!-- /END Hero Section -->

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <h2 class="section-title">About Me</h2>
      <div class="row about-wrapper">
        <div class="about-wrapper__image">
          <img class="img-fluid" src="../static/img/profile.png" alt="Profile Image" width="450" height="350" />
        </div>
        <div class="about-wrapper__info">
          <p class="about-wrapper__info-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus quae repellat, ad omnis distinctio velit saepe expedita
            architecto cumque veritatis adipisci. Sapiente non, saepe hic
            adipisci doloribus quisquam recusandae et.
          </p>
          <p class="about-wrapper__info-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            obcaecati doloribus qui praesentium quae veniam esse mollitia
            consequuntur nisi minima quasi et fugit quidem enim recusandae
            delectus, iusto culpa rerum?
          </p>
          <span class="about-wrapper__cta">
            <a href="../static/pdf/ResumeMacFarquhar" class="cta-btn cta-btn--resume" download>View Resume</a>
          </span>
        </div>
      </div>
    </div>
  </section>
  <!-- /END About Section -->

  <!--Projects Section-->
  <section id="projects">
    <div class="container">
      <div class="project-wrapper">
        <h2 class="section-title dark-blue-text">Projects</h2>
        <div class="portfolio_container container swiper-container swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- Each .row is a project -->
            <article class="row grid swiper-slide">
              <div class="project-wrapper__text">
                <h3 class="project-wrapper__text-title">Project Title</h3>
                <p class="project-wrapper__text-info">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
                  necessitatibus impedit repellendus vero sed ipsa eos beatae ab
                  sint saepe nostrum! Enim, perferendis.
                </p>
                <div class="project-wrapper__text-btns">
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    class="cta-btn cta-btn--hero cta-btn--projects">See
                    Live</a>
                  <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
                </div>
              </div>

              <div class="project-wrapper__image">
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <div class="thumbnail rounded">
                    <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366"
                      height="767" />
                  </div>
                </a>
              </div>
            </article>
            <!-- /END Project -->

            <!-- Each .row is a project -->
            <article class="row grid swiper-slide">
              <div class="project-wrapper__text">
                <h3 class="project-wrapper__text-title">Project Title</h3>
                <p class="project-wrapper__text-info">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
                  necessitatibus impedit repellendus vero sed ipsa eos beatae ab
                  sint saepe nostrum! Enim, perferendis.
                </p>
                <div class="project-wrapper__text-btns">
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    class="cta-btn cta-btn--hero cta-btn--projects">See
                    Live</a>
                  <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
                </div>
              </div>

              <div class="project-wrapper__image">
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <div class="thumbnail rounded">
                    <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366"
                      height="767" />
                  </div>
                </a>
              </div>
            </article>
            <!-- /END Project -->

            <!-- Each .row is a project -->
            <article class="row grid swiper-slide">
              <div class="project-wrapper__text">
                <h3 class="project-wrapper__text-title">Project Title</h3>
                <p class="project-wrapper__text-info">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
                  necessitatibus impedit repellendus vero sed ipsa eos beatae ab
                  sint saepe nostrum! Enim, perferendis.
                </p>
                <div class="project-wrapper__text-btns">
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    class="cta-btn cta-btn--hero cta-btn--projects">See
                    Live</a>
                  <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
                </div>
              </div>

              <div class="project-wrapper__image">
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <div class="thumbnail rounded">
                    <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366"
                      height="767" />
                  </div>
                </a>
              </div>
            </article>
            <!-- /END Project -->
          </div>
          <!-- Arrows -->
          <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
          </div>
          <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
          </div>
          <!-- Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="section-title">Contact Me</h2>
      <div class="contact-wrapper">
        <h2 class="section__title">Contact Me</h2>
        <span class="section__subtitle">Get in touch</span>

        <div class="contact__container container grid">
          <div>
            <div class="contact__information">
              <i class="uil uil-phone contact__icon"></i>

              <div>
                <h3 class="contact__title">Call/Text</h3>
                <span class="contact__subtitle">(650) 430-8712</span>

              </div>
            </div>
            <div class="contact__information">
              <i class="uil uil-envelope contact__icon"></i>

              <div>
                <h3 class="contact__title">Email</h3>
                <span class="contact__subtitle">gmacfarquhar57@gmail.com</span>

              </div>
            </div>
            <div class="contact__information">
              <i class="uil uil-map-marker contact__icon"></i>

              <div>
                <h3 class="contact__title">Location</h3>
                <span class="contact__subtitle">United States</span>

              </div>
            </div>
          </div>
          <!-- <form action="" class="contact__form grid"> -->
          <form id="contact-form" method="POST" action="/" class="contact__form grid">

            {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.hidden_tag() }}
            <div class="contact__input grid">
              <div class="contact__content">
                <label for="name" class="contact__label">Name</label>
                <!-- <input type="text" class="contact__input"> -->
                {{ form.name(class_="contact__input") }}
              </div>
              <div class="contact__content">
                <label for="email" class="contact__label">Email</label>
                <!-- <input type="email" class="contact__input"> -->
                {{ form.email(class_="contact__input") }}
              </div>
            </div>

            <div class="contact__content">
              <label for="message" class="contact__label">Message</label>
              <!-- <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea> -->
              {{ form.message(rows="7", cols="0", class_="contact__input") }}
            </div>
            {{ form.recaptcha }}
            <p class="contact-wrapper__text">Let's craft a digital masterpiece!</p>
            <button class="cta-btn cta-btn--contact" type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- END Contact Section -->

  <!-- Footer Section -->
  <footer class="footer">
    <div class="container">
      <a href="#hero" class="back-to-top" aria-label="go back to top">
        <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
      </a>
      <div class="social-links">
        <a href="https://www.instagram.com/itsa_graham/" target="_blank" rel="noopener noreferrer"
          aria-label="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/graham-macf/" target="_blank" rel="noopener noreferrer"
          aria-label="linkedin">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/gmacfarq" target="_blank" rel="noopener noreferrer" aria-label="github">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <hr />
      <p class="footer__text">
        &copy; <span id="year"></span> - By
        <a href="https://github.com/gmacfarq" target="_blank" rel="noopener noreferrer">Graham MacFarquhar</a>.
      </p>
    </div>
  </footer>
  <!-- END Footer Section -->
  <script src="../static/js/swiper-bundle.min.js"></script>
  <script src="../static/js/swiper.js"></script>
  <script defer src="../static/js/scrollreveal.min.js"></script>
  <script defer type="text/javascript" src="../static/js/scrollveal.js"></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/vanilla-tilt.min.js"></script>
  <script type="text/javascript" src="../static/js/valtilt.js"></script>
</body>

</html>