<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
  <link rel="icon" type="image/png" href="../static/img/devfolio-logo.png" />

  <!-- Title -->
  <title>Graham MacFarquhar</title>
  <meta name="keywords" content="gmacfarquhar, Graham Macfarquhar" />
  <meta name="description" content="Graham MacFarquhar | Full Stack Developer" />

  <!-- <link rel="stylesheet" href="../static/css/styles.css" /> -->
  <link rel="preload" as="style" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/main.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

</head>

<body>
  <!-- Hero Section -->
  <div id="hero">
    <section class="container">
      <h1 class="hero-title">
        Hi, my name is <span class="text-color-main name">
          Graham MacFarquhar
        </span>
        <br />
        I'm a Full Stack Developer.
      </h1>
      <p class="hero-cta">
        <a class="cta-btn cta-btn--hero" href="#contact">Get in touch</a>
      </p>
    </section>
    <a href="#about" class="scroll-down-link" aria-label="scroll-down">
      <div class="scroll-down"></div>
    </a>
  </div>
  <!-- /END Hero Section -->

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <h2 class="section-title">About Me</h2>
      <div class="row about-wrapper">
        <div class="about-wrapper__image">
          <img class="img-fluid" src="../static/img/profile.png" alt="Profile Image" width="450" height="350" />
        </div>
        <div class="about-wrapper__info">
          <p class="about-wrapper__info-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Temporibus quae repellat, ad omnis distinctio velit saepe expedita
            architecto cumque veritatis adipisci. Sapiente non, saepe hic
            adipisci doloribus quisquam recusandae et.
          </p>
          <p class="about-wrapper__info-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            obcaecati doloribus qui praesentium quae veniam esse mollitia
            consequuntur nisi minima quasi et fugit quidem enim recusandae
            delectus, iusto culpa rerum?
          </p>
          <span class="about-wrapper__cta">
            <a href="../static/pdf/ResumeMacFarquhar" class="cta-btn cta-btn--resume" download>View Resume</a>
          </span>
        </div>
      </div>
    </div>
  </section>
  <!-- /END About Section -->

  <!--Projects Section-->
  <section id="projects">
    <div class="container">
      <div class="project-wrapper">
        <h2 class="section-title dark-blue-text">Projects</h2>

        <!-- Each .row is a project -->
        <article class="row">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title">Project Title</h3>
            <p class="project-wrapper__text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
              necessitatibus impedit repellendus vero sed ipsa eos beatae ab
              sint saepe nostrum! Enim, perferendis.
            </p>
            <div class="project-wrapper__text-btns">
              <a href="#" target="_blank" rel="noopener noreferrer" class="cta-btn cta-btn--hero cta-btn--projects">See
                Live</a>
              <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
            </div>
          </div>

          <div class="project-wrapper__image">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div class="thumbnail rounded">
                <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366" height="767" />
              </div>
            </a>
          </div>
        </article>
        <!-- /END Project -->

        <!-- Each .row is a project -->
        <article class="row">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title">Project Title</h3>
            <p class="project-wrapper__text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
              necessitatibus impedit repellendus vero sed ipsa eos beatae ab
              sint saepe nostrum! Enim, perferendis.
            </p>
            <div class="project-wrapper__text-btns">
              <a href="#" target="_blank" rel="noopener noreferrer" class="cta-btn cta-btn--hero cta-btn--projects">See
                Live</a>
              <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
            </div>
          </div>

          <div class="project-wrapper__image">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div class="thumbnail rounded">
                <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366" height="767" />
              </div>
            </a>
          </div>
        </article>
        <!-- /END Project -->

        <!-- Each .row is a project -->
        <article class="row">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title">Project Title</h3>
            <p class="project-wrapper__text-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Deleniti voluptas, sit nam perspiciatis tempore aspernatur ullam
              necessitatibus impedit repellendus vero sed ipsa eos beatae ab
              sint saepe nostrum! Enim, perferendis.
            </p>
            <div class="project-wrapper__text-btns">
              <a href="#" target="_blank" rel="noopener noreferrer" class="cta-btn cta-btn--hero cta-btn--projects">See
                Live</a>
              <a href="#" target="_blank" class="cta-btn text-color-main">Source Code</a>
            </div>
          </div>

          <div class="project-wrapper__image">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <div class="thumbnail rounded">
                <img src="../static/img/project.jpg" class="img-fluid" alt="Project Image" width="1366" height="767" />
              </div>
            </a>
          </div>
        </article>
        <!-- /END Project -->
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="section-title">Contact Me</h2>
      <div class="contact-wrapper">
        <p class="contact-wrapper__text">Let's craft a digital masterpiece!</p>
        <a href="#" class="cta-btn cta-btn--resume">Send Message</a>
      </div>
    </div>
  </section>
  <!-- END Contact Section -->

  <!-- Footer Section -->
  <footer class="footer">
    <div class="container">
      <a href="#hero" class="back-to-top" aria-label="go back to top">
        <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
      </a>
      <div class="social-links">
        <a href="https://www.instagram.com/itsa_graham/" target="_blank" rel="noopener noreferrer" aria-label="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/graham-macf/" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/gmacfarq" target="_blank" rel="noopener noreferrer" aria-label="github">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <hr />
      <p class="footer__text">
        &copy; <span id="year"></span> - By
        <a href="https://github.com/gmacfarq" target="_blank" rel="noopener noreferrer">Graham MacFarquhar</a>.
      </p>
    </div>
  </footer>
  <!-- END Footer Section -->
  <script defer src="../static/js/scrollreveal.min.js"></script>
    <script
      defer
      type="text/javascript"
      src="../static/js/scrollveal.js"
    ></script>
  <script src="../static/js/index.js"></script>
  <script src="../static/js/vanilla-tilt.min.js"></script>
  <script type="text/javascript" src="../static/js/valtilt.js"></script>
</body>

</html>