<main>
  <section>
    <h2>Contact Me</h2>
    <span>Get in touch</span>

    <div>
        <div>
            <div></div>
                <div>
                    <h3>Call/Text</h3>
                    <span>(650) 430-8712</span>

                </div>
            </div>
            <div>
                <div>
                    <h3>Email</h3>
                    <span>gmacfarquhar57@gmail.com</span>

                </div>
            </div>
            <div >
                <div>
                    <h3 >Location</h3>
                    <span >United States</span>
                </div>
            </div>
        </div>

        <form method="POST" action="/" >

            {% for message in form.email.errors %}
            <div>{{ message }}</div>
            {% endfor %}

            {{ form.hidden_tag() }}
            <div>
                <div>
                    <label>Name</label>
                    {{ form.name(class_="contact__input") }}
                </div>
                <div>
                    <label>Email</label>
                    {{ form.email(class_="contact__input") }}
                </div>
            </div>

            <div>
                <label>Message</label>
                {{ form.message(rows="7", cols="0", class_="contact__input") }}
            </div>
            {{ form.recaptcha }}

            <button type="submit">Send Message</button>
        </form>
    </div>

  </section>
</main>